body, html
        {
            margin: 0; padding: 0; height: 100%; 
            
        }html { overflow-y: scroll; overflow-x:hidden; 
                background: url(background2.png) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;}

        .my-pre{
            
            
            /* some extra styles*/
            background-color: #ffffff17;
            text-align:center;
            font-family:calibri,arial,sans-serif;
            overflow: hidden;
            white-space: pre-wrap;
            word-wrap: break-word;
            padding-right: 10px;
          }
        
        h1 { font-size:xx-large; margin:0 }
        .holder{
            width: 100%;
            height: auto;
            position: relative;
            color: #ffffff;
            background-color: #25729380;
            text-align: center
        }.center{
            margin-left: auto;
            margin-right: auto;
            border-spacing: 30px 0px;
            font-size: large;
        }
        @media (max-width: 700px) {
            pre { font-size: calc(.5rem + 1vw);}
          }
          
        @media (min-width: 701px) {
            pre { font-size: 1rem; }
            
        }footer{
            background-color: #3d90a5af;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
        }
        